* {
  font-family: calibri;
}
body {
  border: 2px solid black;
  display: flex;
  margin-top: 20px;
  align-items: center;
  flex-direction: column;
  height: fit-content;
  text-align: center;
}
table td {
  border: 2px solid black;
}
table {
  border-collapse: collapse;
  table-layout: auto;
}
table tr:nth-child(even){
  background-color: lightblue;
}
table tr:hover{
  background-color: #ddd;
}
div {
  text-align: center;
  border: 2px dashed black;
  max-width: 100rem;
}
p {
  word-wrap: break-word;
  line-height: 0;
}
